body{
  font-family: Arial;
}

.card-collection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.standout {
  border-style: solid !important;
  border-width:2px !important;
  border-color: red !important;
}

h1,h2,h3,h4, h5, p {
  text-align: center;
}

@media only screen and (max-width: 600px){
  .card-collection{
    grid-template-columns: 1fr;
  }
}